#root {
  width:100%;
  height:100%;
  display:flex;
  overflow : hidden;
}

html {
  width:100%;
  height:100%;
  min-width : 600px;
}

body {
  width:100%;
  height:100%;
  overflow : auto;
  font-family: 'SDSamliphopangche_Outline';
}

div {
  user-select: none;
}

textarea {
  resize : none;
}

textarea::-webkit-scrollbar {
  display : none;
}

::spelling-error {
  text-decoration: none;
}

#id {
  padding : 3px;
  margin:3px;
  width:40%;
}

#pss {
  padding : 3px;
  margin:3px;
  width:40%;
}

#sub {
  padding : 3px;
  margin:3px;
  border : solid 1px;
  border-radius : 5px;
  background-color: #C0C0C0;
  width:10%;
  user-select: none;
  font-size : 90%;
}

.postele {
  height : 30px;
}

.alert-text {
  font-size : 10px;
}

.center {
  margin : auto auto;
  text-align: center;
  background-color: #E0F0F0F0;
  display:flex;
  width : 80%;
  height : 70%;
  padding : 20px;
  flex-direction: column;
  border-radius : 10px;
  min-height : 400px;
  min-width : 300px;
  overflow : auto;
  -ms-overflow-style: none;
}

.center::-webkit-scrollbar{
  display : none;
}

.text {
  background-color : #22AADD;
  border-radius : 10px;
  width : 80%;
  padding:10px;
  margin : auto auto;
  user-select: none;
}

.contain {
  background-color: #C4E4E4;
  padding :0px;
  display : flex;
  width:100%;
  height:100%;
}

.posting {
  margin : auto auto;
  display : flex;
}

#signup {
  display : flex;
  flex-direction: column;
  width : 70%;
  height : 60%;
  margin : auto auto;
  justify-content: center;
  gap : 8%;
}

.signupele {
  margin : 3px auto;
  width : 100%;
  height : 12%;
  display : flex;
}

.signuptbLabel {
  width : 25%;
  height : 50px;
  border : 1px solid #000000;
  border-right : 0px;
  display : flex;
  font-size : 12px;
  text-align : center;
  min-width : 60px;
}

.signuptbLabelele {
  margin : auto auto;
}

.signuptbInput {
  min-width : 150px;
  height : 50%;
  margin: auto 2%;
}

.signuptbEnterele {
  display : flex;
  gap : 3%;
  padding : auto;
  height : 100%;
  width : 100%;
  width : 75%;
  height : 50px;
  border : 1px solid #000000;
  min-width : 300px;
}

.singuptbInputText {
  text-align: center;
  margin : auto auto;
}

.login {
  display: flex;
  flex-direction: column;
  margin : 0 auto;
  margin-top : 5%;
  width : 100%;
}

.keeplogin {
  display: flex;
  margin : 20px auto;
  border : #000000 solid 1px;
  border-radius: 5px;
  padding : 5px;
  width : 150px;
  justify-content: center;
}

#keeploginText {
  font-size : 15px;
  color : blue;
}

.navbar {
  background-color: #22AADD;
  padding: 10px;
  height: 60px; 
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 0px 0px 5px 5px;
}

.navlist {
  /* 수평 배치 */
  color : #EFEFEF;
  font-size : 130%;
  font-weight : 700;
  float: left; 
  padding-left :1%;
  margin-Left: 1%;
  text-decoration: none;
}

.site {
  width : 95%;
  background-color: #FFFFFF;
  height : 40%;
  border-radius: 30px;
  margin-left : 1%;
  max-width: 1000px;
  overflow : auto;
}

.topSite {
  width : 100%;
  height : 100%;
  display : flex;
  flex-direction: column;
  padding : 3%;
  gap : 3%;
}

.siteEle {
  width : 90%;
  margin : auto auto;
  margin-top : 1%;
  font-weight: 700;
  line-height: 40px;
  font-size: 18px;
  border-bottom: solid #000000 3px;
}

.page {
  width : 100%;
  height : 100%;
  display : flex;
  background-color: #FFFFFF;
  overflow : auto;
}

.boardComponent {
  width : 70%;
  height : 120px;
  border-bottom: #000000 solid 3px;
  margin : 0 auto;
  font-size : 20px;
  text-align : left;
  padding-left : 20px;
  padding-top : 10px;
}

.bc_title:hover{
  cursor : pointer;
}

.bc_title {
  font-weight: 700;
  font-size : 25px;
}

.bc_infos {
  display : flex;
  flex-direction: row;
  margin-top : 30px;
  margin-left : 0px;
  gap : 20px;
  font-size : 15px;
}

.appendBtn {
  width : 150px;
  height : 60px;
  background-color: #00AAFF;
  border-radius: 30px;
  border : 0px;
  font-weight : 700;
  font-size : 30px;
  color : #FFFFFF;
  text-align : center;
  line-height: 20px;
  margin : auto 0;
  margin-left : auto;
}

.loadPage {
display : flex;
width : 100%;
height : 100%;
padding-top : 20px;
flex-direction: column;
overflow : auto;
}

.boardNameIndicate {
  font-size : 50px;
  font-weight: 700;
  height : 100px;
  width : 70%;
  line-height: 80px;
  padding-left : 2%;
  margin : 0 auto;
  border-bottom : #000000 solid 5px;
  display : flex;
}

.postWrite {
  width : 70%;
  height : 400px;
  margin : 0 auto;
  resize: none;
  font-size : 18px;
  padding : 18px;
}

.postWrite_label {
  width : 70%;
  height : 100px;
  margin : 0 auto;
  margin-bottom: 20px;
  font-size : 25px;
}

.postWrite_title {
  width : 100%;
  height : 50px;
  margin : 0 auto;
  font-size : 25px;
}

.board_header {
  width : 90%;
  height : 80px;
  margin : 0 auto;
  font-size : 30px;
  font-weight : 900;
  border-bottom : #000000 5px solid;
  text-align: left;
  padding : 0 20px;
  display : flex;
}

.board_title {
  flex : 9;
  line-height : 70px;
}

.board_info {
  line-height : 35px;
  font-size : 15px;
  font-weight : 500;
  text-align : right;
  flex : 2;
}


.board_body {
  width : 90%;
  height : auto;
  min-height : 400px;
  justify-content: center;
  text-align: left;
  margin : 0 auto;
  margin-top : 30px;
  padding : 0 20px;
  font-weight : 700;
}

.board_chat {
  text-align : left;
  margin : 0 auto;
  width : 90%;
  border-top : 5px solid #000000;
  margin-top : 20px;
  padding : 10px;
  font-weight : 900;
  margin-bottom : 40px;
}

.board_chat_head {
  display : flex;
  flex-direction: column;
  gap : 10px;
  padding-bottom : 10px;
  border-bottom : 1px solid #000000;
}

.write_chat {
  background : none;
  border-width : 0 0 3px;
  width : 90%;
  margin : auto auto;
  resize : none;
}

.write_chat:focus {
  outline : none;
  border-bottom: #000000 3px solid;
}


.post_chat {
  border-radius: 30px;
  width : 70px;
  margin-left : auto;
}

.board_chat_ele {
  width : 100%;
  border-bottom : #000000 solid 1px;
  height : auto;
  padding : 13px;
}

.chat_ele_content {
  font-weight : 500;
  margin : 10px 0 0 20px;
}